#header-container {
    height: 510px;
}

#accueil{

    background: #f8f8f8 url("../../../assets/images/map.svg") 0% 0% no-repeat padding-box;

        div{
        width: 590px;
        height: 82px;
        font-size: 28px;
        margin-top: 75px;
        margin-bottom: 75px; 
        }
}

.nbrAnnonces{
    color: #FC5D41;
}