<div id="search-container" class="w-100">

    <div class="container-inputs m-auto d-flex justify-content-between">
        <div class="d-flex mt-3">
            <label for=""><small>Projet</small>
                <input type="text" class="form-control">
            </label>
        </div>
        <div class="d-flex mt-3">
            <label for=""><small>Type(s) de bien</small>
                <input type="text" class="form-control">
            </label>
        </div>
        <div class="d-flex mt-3">
            <label for=""><small>Localisation</small>
                <input type="text" class="form-control">
            </label>
        </div>
        <div class="d-flex mt-3">
            <label for=""><small>Nombre de pièces</small>
                <input type="text" class="form-control">
            </label>
        </div>
    </div>

</div>
