<div class="d-flex justify-content-between container-menu">
    <img id="logo" src="../../../assets/images/qualome.svg" alt="Logo qualome">

    <ul class="d-flex flex-grow-1 ">
        <div id="test">
            <li class="li-menu li-menu-filters"><a href="#">Mes filtres</a></li>
            <div id="ligne" class="bg-white"></div>
        </div>
        
        <li class="li-menu"><a href="#">Mes favoris</a></li>
    </ul>
    
    <img src="../../../assets/images/menu.svg" alt="menu" id="menu">

    <div id="user" class="d-flex justify-content-center">
        <img src="../../../assets/images/user.svg" alt="user icone">
        <p>{{name}}</p>
    </div>

</div>
<div class="ligne1"></div>